@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .absolute-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

html {
  box-sizing: border-box;
}

body,#root {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(49, 49, 49);
  color: white;
}

input {
  all: unset;
}